<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Bootstrap
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><div class="fw-bold">Analytics</div>Get a better understanding of your traffic</a></li>
              <li><a class="dropdown-item" href="#"><div class="fw-bold">Engagement</div>Speak directly to your customer</a></li>
              <li><a class="dropdown-item" href="#"><div class="fw-bold">Security</div>Your customer data will be safe and secure</a></li>
              <li><a class="dropdown-item" href="#"><div class="fw-bold">Integrations</div>Connect with third-party tools</a></li>
              <li><a class="dropdown-item" href="#"><div class="fw-bold">Automatons</div>Build strategic funnels that will convert</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Watch Demo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Company</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <button class="btn btn-outline-primary" type="submit">Log in</button>
        </div>
      </div>
    </div>
  </nav>
