<div class="container text-center">
    <main class="form-signin w-100 m-auto">
      <form>
        <img class="mb-2" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="FastCAR Logo" height="80">
        <h1 class="h3 mb-4 fw-semibold fs-4">Sign in to your account</h1>
        <div class="form-floating">
          <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg buttonColor mt-2 mb-1" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">Not a member? <a href="#">Start a 14 day free trial</a></p>
      </form>
    </main>
  </div>